doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        script(src="/generated/" + webpackStatsJson.assetsByChunkName.main)

    body.container
        h1 Hello, world!
        img.img-fluid(src="/sample.jpg" alt="Sample")
        h2 Vue component
        vue-demo
        script(src="/generated/" + webpackStatsJson.assetsByChunkName.vue)
